body {
    background:black;
    color:#0f0;
    font-family:monospace;
    overflow:hidden;
}

.terminal {
    position:absolute;
    left:50px;
    bottom:50px;
    width:400px;
}

textarea {
    width:100%;
    height:120px;
    background:#000;
    color:#0f0;
    border:2px solid #0f0;
}

button {
    background:black;
    border:2px solid #0f0;
    color:#0f0;
    padding:8px 20px;
    cursor:pointer;
}
.output-box {
    position:absolute;
    right:50px;
    bottom:50px;
    width:400px;
    height:300px;
    overflow-y:auto;
    border:2px solid #0f0;
    padding:10px;
}
